@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Commissioner', system-ui, sans-serif;
  }

  .hamburger {
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
  }

  .hamburger .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: .22s;
  }

  .hamburger .hamburger-inner .absolute:first-child {
    transition: top .1s ease-in .25s,opacity .1s ease-in;
  }

  .hamburger .hamburger-inner .absolute:last-child {
    transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
  }

  .hamburger[aria-expanded="true"] .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(225deg);
  }

  .hamburger[aria-expanded="true"] .hamburger-inner .absolute:first-child {
    top: 0;
    transition: top .1s ease-out,opacity .1s ease-out .12s;
    opacity: 0;
  }

  .hamburger[aria-expanded="true"] .hamburger-inner .absolute:last-child {
    bottom: 0;
    transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg);
  }
}
